site_name: Advent of Visualizations
site_url: https://alexab123.github.io/advent-of-visualizations/
repo_url: https://github.com/alexab123/advent-of-visualizations
repo_name: Advent of Visualizations

nav:
  - Home: index.md
theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: indigo
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets:
      base_path: docs
